
div {
  padding: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: #EEEEEE;
}

.introduction {
  background-color: #548CA8;
}

.main-content {
  background-color: #476072;
}

.contact-us {
  background-color: #334257;
}

.module {
  padding: 1rem;
  background: white;
  color:#334257
}

.module h2 {
  background: #90a4ae;
  margin: -1rem -1rem 1rem -1rem;
  padding: 1rem;
  box-sizing: 1rem
  ;
}

.module :last-child {
  margin-bottom: 0;
}

body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 400px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}


